@import "tailwindcss";
/* Hide scrollbar but allow scrolling */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
